
.DS_Store

ltx/IEEECorr.bib.bak

ltx/bare_jrnl.aux

ltx/bare_jrnl.bbl

ltx/bare_jrnl.blg

ltx/bare_jrnl.log

ltx/bare_jrnl.pdf

ltx/bare_jrnl.synctex.gz

ltx/bare_jrnl.synctex.gz

ltx/bare_jrnl.synctex.gz

ltx/bare_jrnl.synctex.gz

ltx/bare_jrnl.out

scr/AutoCorr.mat

scr/AutoCorrPlus.mat

scr/Bases2D.pyc

scr/EMPBC/ActivationFunction.pyc

scr/EMPBC/Bases2D.pyc

scr/EMPBC/IDEComponents.pyc

scr/EMPBC/IDEModel.pyc

scr/EMPBC/LS.pyc

scr/EMPBC/NF.pyc

scr/EMPBC/ObservationLocation.pyc

scr/EMPBC/Sigma_Gamma.mat

scr/EMPBC/UKF.pyc

scr/IDEComponents.pyc

scr/NF.pyc

scr/NXCorr.mat

scr/Normalisedw.mat

scr/ObservationLocation.pyc

scr/XCorr.mat

scr/circle.pyc

scr/data.mat

ltx/bare_jrnl.synctex.gz

ltx/bare_jrnl.synctex.gz

scr/KernelWidthEstimation.pdf

scr/Data_generation.py

ltx/bare_jrnl.synctex.gz

scr/periodic_sigma_gamma.mat

scr/KernelEstimation2d.pdf

scr/KernelSupportEstimation1d.pdf

scr/PBC/Bases2D.pyc

scr/PBC/IDEComponents.pyc

scr/PBC/NF.pyc

scr/PBC/ObservationLocation.pyc

scr/PBC/circle.pyc

scr/PBC/data.mat

scr/PBC/anisodata.mat

scr/PBC/isodata.mat

scr/anisoAutoCorr.mat

scr/anisoAutoCorrPlus.mat

scr/anisoNXCorr.mat

scr/anisoXCorr.mat

scr/anisodata.mat

scr/isoAutoCorr.mat

scr/isoAutoCorrPlus.mat

scr/isoNXCorr.mat

scr/isoXCorr.mat

scr/isodata.mat

scr/ComputeCorrelation.py

scr/ComputeCorrelation.py

scr/KernelSupportEstimation.py

scr/PBC/Data_generation.py

scr/Data_generation.py

scr/DisturbanceSupportEstimation.py

scr/DisturbanceSupportEstimation1d.pdf

scr/DisturbanceWidthEstimation.pdf

scr/PlotFieldExample/FieldSnapshot.pdf

scr/PlotFieldExample/PlotField.py

scr/PlotFieldExample/anisodata.mat

scr/PlotFieldExample/isodata.mat

scr/anisoKernelEstimation2d.pdf

scr/anisoKernelSupportEstimation1d.pdf

scr/1anisoKernelEstimation2d.pdf

scr/1anisoKernelSupportEstimation1d.pdf

scr/2anisoKernelEstimation2d.pdf

scr/2anisoKernelSupportEstimation1d.pdf

scr/PBC/anisodata1.mat

scr/PBC/anisodata2.mat

scr/anisoAutoCorr1.mat

scr/anisoAutoCorr2.mat

scr/anisoAutoCorrPlus1.mat

scr/anisoAutoCorrPlus2.mat

scr/anisoNXCorr1.mat

scr/anisoNXCorr2.mat

scr/anisoXCorr1.mat

scr/anisoXCorr2.mat

scr/anisodata1.mat

scr/anisodata2.mat
