
.DS_Store

ltx/IEEECorr.bib.bak

ltx/bare_jrnl.aux

ltx/bare_jrnl.bbl

ltx/bare_jrnl.blg

ltx/bare_jrnl.log

ltx/bare_jrnl.pdf

ltx/bare_jrnl.synctex.gz

ltx/bare_jrnl.synctex.gz

ltx/bare_jrnl.synctex.gz

ltx/bare_jrnl.synctex.gz
